@import "../../../vars.scss";

.task-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: $gap-xl;
    background: $background-main-dark;

    &__columns-wrapper {
        overflow: scroll;
    }

    &__columns {
        display: flex;
        align-items: flex-start;
    }

    &__column {
        margin-right: $gap-m;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
