@import '../../../vars.scss';

.task-board {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $gap-xl;

    background: $color-blue-dark;

    &__columns-wrapper {
        flex: 1;
        overflow: scroll;
    }

    &__columns {
        display: flex;
        min-height: 100%;
    }

    &__column {
        margin-right: $gap-m;

        &:last-of-type {
            margin-right: 0;
        }
    }
}