.task-board {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__columns-wrapper {
        flex: 1;
        overflow: scroll;
    }

    &__columns {
        display: flex;
        min-height: 100%;
    }
}