@import '../../../vars.scss';

.task-board-column {
    padding: $gap-s $gap-s $gap-4xl;
    width: 100%;
    min-width: 280px;
    min-height: 200px;
    background: $background-main-light;
    border: 1px solid black;
    border-radius: $border-radius;

    &_highlited {
        background: $background-info-light;
        outline: 2px dashed grey;
    }

    &__title {
        padding-bottom: $gap-s;
    }
}