@import '../../../../vars.scss'; // TODO: узнать все-таки как сделать path-aliases в контексте cra

.label {
    &_size_s {
        font-size: $font-size-s;
    }

    &_size_m {
        font-size: $font-size-m;
    }

    &_size_l {
        font-size: $font-size-l;
    }

    &_bold {
        font-weight: bold;
    }
}