@import './vars.scss';

* {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
html,
body {
  margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Bitter', serif;
    font-size: $font-size-s;
}

body > #root {
  height: inherit;
}