$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;

$gap-2xs: 4px;
$gap-xs: 8px;
$gap-s: 12px;
$gap-m: 16px;
$gap-l: 20px;
$gap-xl: 24px;

$color-blue-dark: rgb(45,64,89);
$color-red: rgb(234,84,85);
$color-yellow: rgb(255,180,0);
$color-green: rgb(223,240,234);
$color-cream: rgb(246,246,246);
$color-blue-accent: rgba(234,245,255, 1);

$border-radius: 4px;

$shadow-accent: 0 0 3px black;
